@font-face {
    font-family: 'lunchtype22regular';
    src: url('./lunchtype22-regular-webfont.woff2') format('woff2'),
         url('./lunchtype22-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype24expanded_regular';
    src: url('./lunchtype24-regular-expanded-webfont.woff2') format('woff2'),
         url('./lunchtype24-regular-expanded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}